<div>
<h1>.................................................</h1>
<h1>   Created by {{author}} </h1>
<h2>   <span style="color:red;"> Date: {{date}} </span></h2>
<h1>.................................................</h1>
</div>

<div>
    <h3>Current values:</h3>
    <p>temperatura cpu: {{cpuTemp}}</p>
    <p>PSU Voltatge Sol 1: {{psuVolSol1}}</p>
    <p>PSU Voltatge Bat 1: {{psuVolBat1}}</p>
    <p>PSU Voltatge Bat 2: {{psuVolBat2}}</p>
    <p>psu Vol Rb Pi: {{psuVolRbPi}}</p>
    <p>Data: {{timestamp}}</p>
</div>